.checkout-wrapper {
    display: flex;
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
}

h2 {
    padding : 20px;
    text-align: center;
}
.form-section{
    padding-top : 10px;
}

.checkbox-label {
    font-size: 12px;
    display: flex;
    align-items: center; /* căn dọc */
    gap: 2px;
}
.h3{
    padding-top : 4px ;
}

.checkout-left {
    flex: 2;
    background-color: #f9f9ff;
    padding: 30px;
    border-radius: 8px;
}

.checkout-right {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #eee;
}

.cart-item left{
    display: flex;
}

.cart-item {
    justify-content: space-between;
}

.input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-row {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}

.btn-pink {
    background-color: #FB2E86;
    color: white;
}

.btn-green {
    background-color: #19D16F;
    color: white;
    width: 100%;
}

.summary-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.summary-value.total {
    font-weight: bold;
    font-size: 1.2em;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cart-thumb {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.shipping-note {
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
}
